<html>

<head>
    <title>Question Hub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function func() {
            document.getElementById('for').style.display = "none";
        }
        func();
    </script>
    <style type="text/css">

        a:visited {
        color: rgb(209, 206, 206);
        }

        a:hover {
        color: rgb(2, 72, 138);
        } 
    </style>
</head>

<body style="background:rgb(24, 36, 63) ">




    <div class="container-fluid" style="width: 100%;border:transparent;">
        <div class="row" style="border: 0px solid red;height:7.5vh;background: black;">
            <div class="row" style="display: flex;align-items: center ;margin-left: 43vw; justify-content: center;">
                    <div class="" style="width:10vw;height: 5vh; color: white; font-size: large; margin-right: 22vw; ">Question Hub</div>
                <button class="btn btn-primary" style="width:10vw;height: 6vh;">Leaderboard</button>
                <button class="btn btn-danger ml-5" style="width:10vw;height: 6vh;">LOG OUT</button>

            </div>
        </div>


        <div class="row " style="background-color:none; display: flex; align-items: center; justify-content:center; height: 90vh; overflow: scroll; overflow-x: hidden;">
            {% for question in questions %}
            <div class="mt-5" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black; overflow: hidden; font-size: large; padding: 0.85vh;">
                <a href="{% url 'edit_question' id=question.id %}">{{question.questions}} </a>
            </div>
            {% endfor %}

<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
<!--            <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div>-->
            <!-- <div class="mt-1" style="border:1px solid rgb(54, 54, 54); height: 9vh; width: 80%; background-color: black;"></div> -->
        </div>
</body>

</html>